<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aixinwu.axw">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 申明权限 操作SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 申请拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 设置悬浮控件 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".tools.GlobalParameterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/applogo"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/AppBaseTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.aixinwu.axw.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.WelcomeActivity"
            android:label="爱心屋"
            android:theme="@style/AppStartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name=".activity.Search" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SignupActivity" />
        <activity android:name=".activity.PersonalCenter" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.Settings" />
        <activity android:name=".activity.Buy" />
        <activity android:name=".activity.Comment" />
        <activity android:name=".activity.ProductListActivity" />
        <activity android:name=".activity.ProductDetailActivity" />
        <activity android:name=".activity.Chattoother" />
        <activity android:name=".activity.SendToPeople" />
        <activity android:name=".activity.SendToAXW" />
        <activity android:name=".activity.ChatList" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activity.AXWInfo" />
        <activity android:name=".activity.ConfirmOrder" />
        <activity
            android:name=".activity.VolunteerApply"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity android:name=".activity.VolActivityList" />
        <activity android:name=".activity.ResetPWD" />
        <activity android:name=".activity.RawPictureActivity" />
        <activity android:name=".activity.CashTransfer" />
        <activity android:name=".activity.HelpFeed" />
        <activity android:name=".activity.SignupBind" />
        <activity android:name=".activity.ModifyProfile" />
        <activity android:name=".activity.PhotoPicker" />
        <activity android:name=".activity.ModifyUname" />
        <activity android:name=".activity.FeedBack" />
        <activity android:name=".activity.Sign" />
        <activity android:name=".activity.PhotoViewer"></activity>
    </application>

</manifest>